
img{
        
    display: inline-block;
}


h1{
text-align: center;
color: rgb(228, 226, 223);

}
.containerTools {
    display: inline-flex;
    margin: 20px;
   }
.FewMoreTools {
    display: inline-flex;
    margin: 20px;
   }
   

.profileimage>img{

    float: left;
    
}
.block{

    background-color:antiquewhite
}

html{
background-color: rgb(250, 247, 245);
}
a{
    border: 0cap;
    color: rgb(79, 16, 224);
    font-weight: bold;
    font-size: x-large;
    
}
hr{
    
    clear: both;
}
.resume{
margin: 60px;
    font-size: large;
    text-align: center;
    font-weight: bold;
}
#AboutMe{
    clear: both;
    text-align: center;
}
p{
    color: rgb(12, 3, 3);
    font-style:oblique;
    font-weight: bold;
    font-size: larger;
    text-indent: 80px;
}
h2{
    text-align: center;
    background-color:rgb(77, 77, 40)
    
}

h3{
    color: rgb(179, 14, 91)
}
.tool{
    text-align: center;
}
.tool>img{

    height: 200px; ;
}